<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="./deshboard.css">
<link rel="icon" href="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043250-avatar-child-girl-kid_113270.png" type="image/gif" sizes="16x16">
</head>
<body>



<%- include ('./header.ejs') %>
 
 

<%- include ('./sitebar.ejs') %>


<!-- Content -->
<div class="main">
  
  <div class="">

    <div class="jumbotron">
      <h1>Admin <%= username %><a class="anchorjs-link" href="#hello,-world!"><span class="anchorjs-icon"></span></a></h1>
      <p><%= email %>, &nbsp;</p>
      <p>Login Time : 9Pm &nbsp; &nbsp;</p>
      <p>Admin User Create Date : 20/20/2021</p>      
      <p><a class="btn btn-primary" href="#" role="button">Profile Tab</a></p>
    </div>


    <div class="bs-callout bs-callout-danger">
  <h4>Danger</h4>
  Something horribad happened.
    </div>
    <p><p>FRENCH SAILOR. Hist, boys! let's have a jig or two before we ride to anchor in Blanket Bay. What say ye? There comes the other watch. Stand by all legs! Pip! little Pip! hurrah with your tambourine!</p>

<p>PIP. (SULKY AND SLEEPY) Don't know where it is.</p>

<p>FRENCH SAILOR. Beat thy belly, then, and wag thy ears. Jig it, men, I say; merry's the word; hurrah! Damn me, won't you dance? Form, now, Indian-file, and gallop into the double-shuffle? Throw yourselves! Legs! legs!</p>
    
    
 

  </div>
</div>




  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script><script  src="./deshboardscript.js"></script>
</body>
</html>
