<div class="header">
	<div class="logo">
		<a href="/">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScx7_vyWx3oU1h3GiaQZfWOVF8iBLkWIaX8rLlEgWKzqrjZicyHwVi2TBdz5dh-fV0kpA&usqp=CAU">
		</a>
	</div>

	<div class="adminplc"><a href="/">Admin Panel Dashboard</a></div>	
	<div class="Logout"><a href="/logoute">Logout</a></div>
</div>