<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Panel Log in</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="icon" href="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043250-avatar-child-girl-kid_113270.png" type="image/gif" sizes="20x20">  
  <link rel="stylesheet" href="./login.css">
</head>
<body>

<div class="container">
    <form action="/auth" method="post">
        <div class="signup">Sign up</div>
        <div class="span">Email</div>
        <input type="text" name="username" required class="username">
        <div class="span">Password</div>
        <input type="password" name="password" required class="password"><br/>
        <button type="submit" class="submit-btn">Sign Up For Free</button>
    </form>

        <div class="regi" onclick="regi()">Registration</div>



    <div class="admin_regisration" id="admin_regisration" style="display:none">
      <div onclick="regi()">Please Contact Please-   01946513615</div>
    </div>
</div>


<script>
 
 
    const regi = ()=> {
    var x = document.getElementById("admin_regisration");
      if (x.style.display === "none") {
        x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
 
</script>
</body>
</html>
