<div class="sidebar">
  <ul>
    <li><a href="/"><i class="fa fa-desktop"></i><span>Desktop</span></a></li>
    <li><a href="/cata"><i class="fa fa-server"></i><span>Catagori & Group Add</span></a></li>
    <li><a href="/prod"><i class="fa fa-calendar"></i><span>Product Add</span></a></li>
    <li><a href="#"><i class="fa fa-envelope-o"></i><span>Messages</span></a></li>
    <li><a href="#"><i class="fa fa-table"></i><span>Order Product</span></a></li>
    <li><a href="/logoute"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
    </ul>
</div>