<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>    
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="icon" href="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043250-avatar-child-girl-kid_113270.png" type="image/gif" sizes="20x20">  
  <link rel="stylesheet" href="./des.css">
</head>
<body>

  <%- include ('./header.ejs') %>  
  <div class="desh_body">
    <div class="left_bar">
        <%- include ('./sitebar.ejs') %>      
    </div>



    <div class="right-site_body">
      <div class="">xsadfadsf</div>
      <div class="">sadfadsf</div>
      <div class="">sadfadsf</div>
      <div class="">sadfadsf</div>
      <div class="">sadfadsf</div>
      <div class="">sadfadsf</div>
      <div class="">sadfadsf</div>
      <div class="">sadfadsf</div>
      <div class="">sadfadsf</div>
      <div class="">xsadfadsf</div>
    </div>




  </div>
</body>
</html>
