body a{
	text-decoration: none;
}
body{
	background: #f0fafb;
	overflow: hidden;
}
.header{	
	display: flex;
	text-align: center;
	padding: 15px 30px 15px 15px;
	color: black;
	font-size: 18px;
	margin: 0;
	padding: 4;
	background: #fec107;	
}
.header img{
	width: 150px;
	height: 50px;
	cursor: pointer;
}
.res{
	margin-left: auto;
}

.header > div{
	padding: 8px;	
	cursor: pointer;
}

.header > div:hover{
	color: white;
	background: #f1b80c52;
	border-radius: 10px;
}
.addcard{
	position: relative;
}

.addcard_count{	
	padding: 1px;
	font-size: 15px;
	position: absolute;	
	height: 20px;
	top: -5px;
	color: white;	
	left: 20px;
	border-radius: 10px;
	background: red;
}


.textbody{	
	width: 90%;
	margin: 0 auto;
	height: calc(100vh - 80px);
	background: #e4ec672b;
}

.textbody{
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	cursor: pointer;
}

 .card {  
	margin: 0 auto;
	background: #e1e8e775;
	padding: 5px;  
	width: 250px; 	
	margin-left: 10px;
	margin-top: 10px;    
	border: 1px solid blue; 
}

.card img{
	width:100%;
	height: 200px;	
}


@media screen and (max-width: 600px) {
  .res, .log{
    display: none;
  }

  .home{
    margin-left: auto;
  }
}

.addtable{
	width: 40%;
	margin: 0 auto;	
	border-collapse: collapse;
	text-align: center;
}

.addtable td, th {
  border: 1px solid #dddddd;
}



.addtable tr:nth-child(2n+2) {
  background-color: lightblue;
}
.addproductbtn{
	cursor: pointer;
	background: red;
	color: white;
	width: 60px;
	height: 30px;	
}


.product_body{
	height: calc(100vh - 80px);  
	display: grid;
	grid-template-columns: 1fr 5fr; 
}

.sitebar{
	border-top: 1px solid white;
	width: 250px;
	height: 100vh;
	background: #fec107;
}

.product{
	background: green;
}

.home{		
	padding: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-row-gap: 15px;
}

.c_card{
	border: 1px solid red;
	width: 230px;
	
}

.c_card img{
	width: 230px;
	height: 180px;
}