body a{
	text-decoration: none;
}
body{
	background: #f0fafb;
	overflow-y: hidden;
}
.header{	
	display: flex;
	text-align: center;
	padding: 15px 30px 15px 15px;
	color: black;
	font-size: 18px;
	margin: 0;
	padding: 4;
	background: #fec107;	
}
.header img{
	width: 150px;
	height: 50px;
	cursor: pointer;
}
.log{
	margin-left: auto;
}

.header > div{
	padding: 8px;	
	cursor: pointer;
}

.header > div:hover{
	color: white;
	background: #f1b80c52;
	border-radius: 10px;
}
.addcard{
	position: relative;
}

.addcard_count{	
	padding: 1px;
	font-size: 15px;
	position: absolute;	
	height: 20px;
	top: -5px;
	color: white;	
	left: 20px;
	border-radius: 10px;
	background: red;
}


.textbody{	
	width: 90%;
	margin: 0 auto;
	height: calc(100vh - 80px);
	background: #e4ec672b;
}

.textbody{
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	cursor: pointer;
}

 


@media screen and (max-width: 600px) {
  .res, .log{
    display: none;
  }

  .home{
    margin-left: auto;
  }
}

.addtable{
	width: 40%;
	margin: 0 auto;	
	border-collapse: collapse;
	text-align: center;
}

.addtable td, th {
  border: 1px solid #dddddd;
}



.addtable tr:nth-child(2n+2) {
  background-color: lightblue;
}
.addproductbtn{
	cursor: pointer;
	background: red;
	color: white;
	width: 60px;
	height: 30px;	
}


.product_body{
	height: calc(100vh - 80px);  
	display: grid;
	grid-template-columns: 1fr 5fr; 
}

.sitebar{
	border-top: 1px solid white;
	width: 250px;
	height: 100vh;
	background: #fec107;
}

.right_site{	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 20px;
	height: 75vh;
	grid-row-gap: 30px;
	overflow-y: auto;
}

.card{	
	width: 220px;
	padding-bottom: 10px;	
	cursor: pointer;
	position: relative;
}
.card img{
	cursor: pointer;
	width: 220px;
	height: 175px;
	
}

.addcardhover{
	display: none;
}
.card:hover .addcardhover{
	display: block;
	position: absolute;
	background: green;
	top: 0px;
	width: 100%;
	height: 85%;
	padding-top: 100px;
	padding-left: 70px;
	box-sizing: border-box;
	color: white;
	opacity: 0.20;
}

.text{
	padding-left: 10px;		 
	background: #8abfd8;	
	padding: 5px;
}
.addcardbtn{	
	background: #0c3f6b;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	color: white;
}

.pro_gory{
	color: white;
	padding-left: 30px;	
	padding: 10px 10px 10px 40px;
	margin-top: 3px;
	background: #6c8000;	
}

.pro_gory:hover{	
	cursor: pointer;
	background: #719e4f;
}

.product_details_tab{
	background: #d4bc74;
	z-index: 2;
	position: fixed;
	top: 40px;
	left: 240px;
	width: 60%;
	height: 80%;
	border-radius: 10px;
}

.product_details_tab_body{
	padding: 20px;	
}
.addcard_proudct_details{
    position: absolute;
    top: 59px;
    right: 93px;
    background: #7e8000;
    color: white;
    cursor: pointer;
    width: 200px;
    text-align: center;
    padding: 11px;
}

.product_details_tab_header{	
	background: #9c8e4a;
	color: white;
	padding: 10px;
	position: relative;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid white;
}

.product_details_tab_close{
	position: absolute;
	right: 10px;
	top: 7px;
	font-size: 20px;
	color: white;
	cursor: pointer;
}


.table_div{
	overflow-y: auto;
	height: 500px;	
	position: absolute;
	width: 60%;
	right: 20px;
	top: 100px;
	text-align: center;
}

table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

 

 .login_tap{
 	z-index: 2;
 	position: fixed;
 	background: #007a80f2;
 	border-radius: 10px;
 	width: 400px;
 	height: 400px;
 	right: 350px;
 	top: 50px;
 }